# clangd config for flow_gateway (WSL / Linux).
# DPDK: /usr/include/dpdk
# spdlog: fetched into build/_deps (run cmake configure first)

CompileFlags:
  CompilationDatabase: build
  Add:
    - --target=x86_64-pc-linux-gnu
    - -I/usr/include/dpdk
    - -I/usr/include/x86_64-linux-gnu/dpdk
    - -I/home/violet/flow_gateway/src
    - -I/home/violet/flow_gateway/build/_deps/spdlog-src/include
    - -include
    - rte_config.h
    - -DALLOW_EXPERIMENTAL_API
    - -DSPDLOG_COMPILED_LIB

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: None
